.host-maingame-judging-censored {
  background-color: black;
  color: white;
  font-size: 4em;
  font-weight: bold;
  height: 512px;
  width: 512px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
