@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Rubik:wght@300&display=swap');

.full {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2rem;
}

body {
  h1, h2, h3, h4 {
    font-weight: normal !important;
  }
}